
.bigContainer{
    display:flex;
    height: 100%;
    flex-direction: column;
}
.heroContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    height: 80%;
}
.heroFooter{
    height: 20%;
}
.heroContainer div{
    text-align: center;
}
#logo{
    width: 70%;
}
.rightContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}